<!-- src/app/components/sala-list/sala-list.component.html -->
<h2>Lista Sal</h2>
<button mat-raised-button color="primary" (click)="openCreateDialog()" style="margin-bottom: 16px;">
  <mat-icon>add</mat-icon> Dodaj Salę
</button>
<table mat-table [dataSource]="sale" class="mat-elevation-z8" style="width: 100%;">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let sala"> {{ sala.id }} </td>
  </ng-container>

  <!-- Nazwa Column -->
  <ng-container matColumnDef="nazwa">
    <th mat-header-cell *matHeaderCellDef> Nazwa </th>
    <td mat-cell *matCellDef="let sala"> {{ sala.nazwa }} </td>
  </ng-container>

  <!-- Pojemność Column -->
  <ng-container matColumnDef="pojemnosc">
    <th mat-header-cell *matHeaderCellDef> Pojemność </th>
    <td mat-cell *matCellDef="let sala"> {{ sala.pojemnosc }} </td>
  </ng-container>

  <!-- Udogodnienia Column -->
  <ng-container matColumnDef="udogodnienia">
    <th mat-header-cell *matHeaderCellDef> Udogodnienia </th>
    <td mat-cell *matCellDef="let sala"> {{ sala.udogodnienia.join(', ') }} </td>
  </ng-container>

  <!-- Dostępność Column -->
  <ng-container matColumnDef="dostepnosc">
    <th mat-header-cell *matHeaderCellDef> Dostępność </th>
    <td mat-cell *matCellDef="let sala">
      <ul>
        <li *ngFor="let date of sala.dostepnosc">
          {{ date | date: 'yyyy-MM-dd' }}
        </li>
      </ul>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Akcje </th>
    <td mat-cell *matCellDef="let sala">
      <button mat-icon-button color="warn" (click)="openDeleteDialog(sala)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id', 'nazwa', 'pojemnosc', 'udogodnienia', 'dostepnosc', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'nazwa', 'pojemnosc', 'udogodnienia', 'dostepnosc', 'actions'];"></tr>
</table>
