<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Nazwa Sali -->
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Nazwa sali</mat-label>
    <input matInput type="text" formControlName="nazwa" />
    @if(form.get('nazwa')?.hasError('required')) {
      <mat-error>Nazwa sali jest wymagana.</mat-error>
    }
    @if(form.get('nazwa')?.hasError('minLength')) {
      <mat-error>Nazwa sali musi mieć przynajmniej 3 znaki.</mat-error>
    }
  </mat-form-field>

  <!-- Pojemność -->
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Pojemność</mat-label>
    <input matInput type="number" formControlName="pojemnosc" />
    @if(form.get('pojemnosc')?.hasError('required')) {
      <mat-error>Pojemność jest wymagana.</mat-error>
    }
    @if(form.get('pojemnosc')?.hasError('min')) {
      <mat-error>Pojemność musi być przynajmniej 1.</mat-error>
    }
  </mat-form-field>

  <!-- Udogodnienia -->
  <mat-form-field appearance="fill">
    <mat-label>Udogodnienia</mat-label>
    <mat-select multiple formControlName="udogodnienia">
      <mat-option *ngFor="let udogodnienie of udogodnienia" [value]="udogodnienie.id">
        {{ udogodnienie.nazwa }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Submit Button -->
  <button type="submit">Submit</button>
</form>
