<!-- src/app/components/sala-add/sala-add.component.html -->
<h2>Dodaj Nową Salę</h2>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="nazwa">Nazwa:</label>
    <input type="text" id="nazwa" [(ngModel)]="nazwa" name="nazwa" required />
  </div>
  <div>
    <label for="pojemnosc">Pojemność:</label>
    <input
      type="number"
      id="pojemnosc"
      [(ngModel)]="pojemnosc"
      name="pojemnosc"
      required
    />
  </div>
  <div>
    <label for="udogodnienia">Udogodnienia (oddziel przecinkiem):</label>
    <input
      type="text"
      id="udogodnienia"
      [(ngModel)]="udogodnienia"
      name="udogodnienia"
    />
  </div>
  <div>
    <label for="dostepnosc">Dostępność (daty oddzielone przecinkiem, format YYYY-MM-DD):</label>
    <input
      type="text"
      id="dostepnosc"
      [(ngModel)]="dostepnosc"
      name="dostepnosc"
    />
  </div>
  <button type="submit">Dodaj Salę</button>
</form>
