<h2 mat-dialog-title>Udogodnienia</h2>

<mat-dialog-content>
  <mat-list>
    @for (udogodnienie of udogodnienia; track udogodnienie.id) {
      <mat-list-item>
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
          <div>
            @if (isAdmin()) {
              <strong>ID: {{ udogodnienie.id }} </strong>
            }
            <span>{{ udogodnienie.nazwa }} - {{ udogodnienie.opis }}</span>
          </div>

          @if (isAdmin()) {
            <div style="display: flex; gap: 8px;">
              <button mat-icon-button color="primary" (click)="openEditDialog(udogodnienie)" aria-label="Edytuj">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteUdogodnienie(udogodnienie.id)" aria-label="Usuń">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          }
        </div>
      </mat-list-item>
    }
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  @if (isAdmin()){
  <ng-container>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">Dodaj Udogodnienie</button>
  </ng-container>
  }
  <button mat-button (click)="closeDialog()">Zamknij</button>
</mat-dialog-actions>
