<h2 mat-dialog-title>Dodaj Udogodnienie</h2>
<mat-dialog-content>
  <form [formGroup]="udogodnienieForm">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nazwa</mat-label>
      <input matInput formControlName="nazwa" required>
      @if (udogodnienieForm.get('nazwa')?.hasError('required')) {
        <mat-error>
          Nazwa jest wymagana
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Opis</mat-label>
      <input matInput formControlName="opis" required>
      @if (udogodnienieForm.get('opis')?.hasError('required')) {
        <mat-error>
          Opis jest wymagany
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cofnij</button>
  <button mat-raised-button color="primary" (click)="addUdogodnienie()">Dodaj</button>
</mat-dialog-actions>
